@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* { 
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'League Spartan', sans-serif;
    background: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.container {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
}
/*------header------*/
header {
    margin-bottom: 2.75rem;
}

header h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0 1rem 1.5rem 1rem;
}

header p {
    color : var(--Dark-Grayish-Magenta);
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 1.2rem 0 1rem ;
}

/* -------container-block------*/

.container-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    margin-bottom: 3rem;
}

.block {
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 8px;
    width:20.4375rem;
    height: 4.8125rem;
    padding: 0.9rem;
    font-weight: 700;
    color: var(--Very-Dark-Magenta) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.block .fivestars {
    min-width: 6.875rem; ;
}

.block h4 {
    min-width: 15rem;
    text-align: center;
}
/*------container-cards------*/

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
}

.cards {
    background-color: var(--Very-Dark-Magenta);
    border-radius: 8px;
    width: 20.375rem;
    height: 15.4375rem;
    padding: 2.3125rem;
    margin: 0.5rem;
    color: var(--White);
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.cards img {
    border-radius: 50%;
    width: 2.6875rem;
    margin-right: 1.25rem;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.cards .name {
    font-weight: 400;
    grid-column: 2 / 3;
    text-align: left;
    margin: 0.3rem 0 0.3rem;
    font-size: 17px;
}

.cards .status {
    color: var(--Soft-Pink);
    grid-column: 2 / 3;
    font-weight: 400;
    font-size: 15px;
}

.cards p {
    font-weight: 400;
    line-height: 20px;
    grid-column: 1/3;
    margin-top: 1.875rem;
    font-size: 16px;
} 


/*------footer------*/

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/*------media query------*/
@media (min-width: 1440px) {
    body { 
        background: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: top left, bottom right;
        
    }
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

    /*------header------*/
    header{
        grid-column: 2 / 7;
        text-align: left;
        margin-bottom: 3rem; 
        margin: 1.5625px 0.875px;
    }

    header h1 {
        font-size: 60px;
        line-height: 48px;
        width: 26rem;
        text-align: left;
    }
    header p {
        text-align: left;
        width: 28rem;
        margin: 0.125rem 0.875rem;
        font-size: 1.125rem;
        font-weight: 500;
        margin-bottom: 1.875rem;
    }
    /*------container-block------*/
    .container-block {
        grid-column: 7 / 12;
        margin: 3.125rem 0 1.25rem ;
    }

    .block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 28.125rem;
        height: 3.4375rem;
    }

    .block-1 {
        align-self: flex-start;
    }

    .block-3 {
        align-self: flex-end;
    }

    /*------container-cards------*/

    .container-cards {
        grid-column: 2 / 13;
        flex-direction: row;
        width: 95%;
        margin: 2.8125rem 0.75rem;
    }

    .cards {
        margin: 0 0.5rem;
    }

    .card-1 {
        width: 24rem;
        align-self: flex-start;
    }
    .card-2 {
        width: 24rem;
    }

    .card-3 {
        width: 24rem;
        margin-top: 2rem;
    }

    footer {
        grid-column: 1 / 13;
    }

}
