@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* { 
    margin:0; 
    padding:0;
    box-sizing: border-box;
}

:root {
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'League Spartan', sans-serif;
    background: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.container {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
}
/*------header------*/
header {
    margin-bottom: 2.75rem;
}

header h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin: 0 1rem 1.5rem 1rem;
}

header p {
    color : var(--Dark-Grayish-Magenta);
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 1.2rem 0 1rem ;
}

/* -------container-block------*/

.container-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.block {
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 8px;
    width:20.4375rem;
    height: 4.8125rem;
    padding: 0.9rem;
    font-weight: 700;
    color: var(--Very-Dark-Magenta) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}








/*------footer------*/

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}